@page
@model Horatiu_Muresan_MediiProiect.Pages.Produse.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Produs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Produs.produsNume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produs.produsNume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Produs.produsDescriere)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produs.produsDescriere)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Produs.produsData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produs.produsData)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Produs.produsExp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produs.produsExp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Produs.Automat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produs.Automat.automatIdent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Produs.Locatie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produs.Locatie.locatieDenumire)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Produs.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
